.font-reddit {
    font-family: Reddit Sans, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif;
}

.font-wix{
    font-family: "Wix Madefor Text", sans-serif;
}

@keyframes shimmer-hero {
    0% {
        transform: translateX(-200%)
    }

    to {
        transform: translateX(200%)
    }
}
.animate-\[shimmer_1\.5s_infinite\] {
    animation: shimmer 1.5s infinite
}
.animate-\[shimmer_2s_infinite\] {
    animation: shimmer 2s infinite
}

.animate-\[shimmer_3s_ease-in-out_infinite\] {
    animation: shimmer 3s ease-in-out infinite
}

.animate-shimmer {
    animation: shimmer 3s ease-out infinite
}
@keyframes shimmer-purple {
    0% {
        transform: translateX(-150%) skewX(-15deg)
    }

    to {
        transform: translateX(250%) skewX(-15deg)
    }
}

.shimmer-purple {
    position: relative;
    overflow: hidden
}

.shimmer-purple:before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(90deg,transparent,rgba(168,85,247,.5) 25%,rgba(139,92,246,.8) 50%,rgba(168,85,247,.5) 75%,transparent);
    transform: translateX(-150%) skewX(-15deg);
    will-change: transform;
    pointer-events: none
}

.shimmer-purple:hover:before {
    animation: shimmer-purple 1s ease-out infinite
}

@keyframes shimmer-orange {
    0% {
        transform: translateX(-150%) skewX(-15deg)
    }

    to {
        transform: translateX(250%) skewX(-15deg)
    }
}

.shimmer-orange {
    position: relative;
    overflow: hidden
}

.shimmer-orange:before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(90deg,transparent,rgba(255,136,38,.4) 25%,rgba(246,70,0,.6) 50%,rgba(255,136,38,.4) 75%,transparent);
    transform: translateX(-150%) skewX(-15deg);
    will-change: transform;
    pointer-events: none
}

.shimmer-orange:active:before,.shimmer-orange:hover:before {
    animation: shimmer-orange .6s ease-out
}
@media (hover: hover) and (pointer:fine) {
	@keyframes shimmer {
        0% {
            transform: translateX(-100%)
        }

        to {
            transform: translateX(100%)
        }
    }

    .group:hover .group-hover\:animate-\[shimmer_1\.5s_ease-in-out_infinite\] {
        animation: shimmer 1.5s ease-in-out infinite
    }
}
@keyframes shimmer {
    0% {
        transform: translateX(-100%)
    }

    to {
        transform: translateX(100%)
    }
}
.group:active .group-active\:animate-\[shimmer_0\.6s_ease-out\] {
    animation: shimmer .6s ease-out
}
@keyframes arrowBounce {
    0%,to {
        transform: translateX(0)
    }

    50% {
        transform: translateX(8px)
    }
}
.animate-arrowBounce {
    animation: arrowBounce 1.5s ease-in-out infinite
}
.animate-\[arrowBounce_1\.5s_ease-in-out_infinite\] {
    animation: arrowBounce 1.5s ease-in-out infinite
}